@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Date: @GetCurrentDate()</p>
<p role="status">Daily sale: @_dailySale (in @_numberOfDailySales transactions)</p>

<table>
</table>

<button class="btn btn-primary" @onclick="AcceptPayment">Pay</button>

@code {
    private double _dailySale = 0.0;
    private int _numberOfDailySales = 0;

    private string GetCurrentDate() => DateTime.Now.ToShortDateString();

    private void AcceptPayment()
    {
        _numberOfDailySales++;
    }
}

